div{
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 10px;
}
.tulu{
    background-color:blanchedalmond;
    
}
.mulu{
background-color: bisque;
}
ol{
    color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.l{
    font-weight: 300px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.img{
    margin: 10px;
    border-radius: 10px solid aqua;
   
    
}
    